/*
This CSS file is output as inline styles used by TCPDF in generating the final PDF file.
These styles can be appended to in the admin Printable PDF configuration form, or
by using the ppn_pdf_template_css_file_path() filter. See the plugin FAQ for more.
*/
.ppn-article-title {
	font-family: 'Lora-Bold', serif;
	font-size: 16pt;
}

.ppn-article-wrapper p {
	font-size: 10pt;
	font-family: 'Roboto', sans-serif;
}

.ppn-author {
	color: rgb(102, 102, 102);
	font-family: 'Roboto', sans-serif;
}

.ppn-author strong {
	font-family: 'Roboto-Bold', sans-serif;
}

.ppn-date {
	color: #666;
	line-height: 100%;
}

.ppn-content, .ppn-excerpt {
	color: rgb(102, 102, 102);
	font-size: 10pt;
	font-family: 'Roboto', sans-serif;
}

.ppn-content-ltr {
    text-indent: 20px;
}

.ppn-content-rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.ppn-permalink-text {
	font-weight: bold;
	white-space: nowrap;
	text-indent: 20px;
}

.ppn-permalink-qr-code-image {
	text-align: center;
}

.ppn-article-bottom-border {
	border-top: 1px dashed #d7d7d7;
}
